body{
  display: flex;
  
  ;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);


  color: white;
  
}

div{
  border: solid white;
  border-radius: 25px;
  padding: 15px;
  align-items: center;
  
}


a, h4{
  text-decoration: none;
  color: white;
 

}

a{
  font-weight: 600;
  font-size: medium;
  margin-left: auto;
 margin-right: auto;
 font: large;
 text-decoration-thickness: 3px;



}

 .main{

padding: 15px;
padding-top: 0;
border:white solid 6px;


background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

padding-right: 13px;






 }

  #xp, #Projects, #Contact{
font-weight: 700;
font-size:25px;
width: max-content;
margin-left: auto;
margin-right: auto;
font-family: "audiowide";




  }

  img{
  
   width: 150px;
   height: 150px;
  
  }

  h1{
    font-family: "audiowide";
    font-size: 50px;
  }


  .a{
    display: grid;
    align-items: center;
 

background: linear-gradient(66deg, rgba(2, 0, 36, 1) 20%, rgba(0, 0, 0, 1) 22%, rgba(0, 212, 255, 1) 62%);



width: max-content;
margin-left: auto;
margin-right: auto;



    
  }

  p, h4{
    font-weight: 800;
    font-family: "audiowide";
  }

h4{

}

a{

  display: grid;
    align-items: center;
 
 font-size: larger;
 font-weight: 800;
 font-family: "audiowide";

background-image: linear-gradient(66deg, rgba(2, 0, 36, 1) 20%, rgba(0, 0, 0, 1) 22%, rgba(0, 212, 255, 1) 62%) ;

padding: 20px;

border-radius: 50px;

border: white solid;




width: max-content;
margin-left: auto;
margin-right: auto;



}

h4{
display: grid;
justify-items: center;
font-size: larger;
font-weight: 800;
}


 #a {
 

   opacity:1;

    transition: opacity 0.5s ease; /* makes opacity change smoothly */
}

