body{
  display: flex;
  
  ;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);


  color: white;
  
}

div{
  border: solid white;
  border-radius: 25px;
  padding: 15px;
  align-items: center;
  
}


a, h4{
  text-decoration: none;
  color: white;
 

}

a{
  font-weight: 600;
  font-size: medium;
  margin-left: auto;
 margin-right: auto;
 font: large;
 text-decoration-thickness: 3px;



}

 .main{

padding: 15px;
padding-top: 0;
border:white solid 6px;


background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
border-radius:25px;
padding-right: 13px;






 }

  #xp, #Projects, #Contact{
font-weight: 700;
font-size:25px;
width: max-content;
margin-left: auto;
margin-right: auto;
font-family: "audiowide";




  }

  img{
  
   width: 150px;
   height: 150px;
  
  }

  h1{
    font-family: "audiowide";
    font-size: 50px;
  }


  .a{
    display: grid;
    align-items: center;
 

background: linear-gradient(66deg, rgba(2, 0, 36, 1) 20%, rgba(0, 0, 0, 1) 22%, rgba(0, 212, 255, 1) 62%);



width: max-content;
margin-left: auto;
margin-right: auto;



    
  }

  p, h4{
    font-weight: 800;
    font-family: "audiowide";
  }



a{

  display: grid;
    align-items: center;
 
 font-size: 25px;
 font-weight: 900;
 font-family: "audiowide";

z-index: +1;
padding: 20px;

border-radius: 50px;






width: max-content;
margin-left: auto;
margin-right: auto;



}

h4{
display: grid;
justify-items: center;
font-size: larger;
font-weight: 800;
}

#a{
  position: relative;
  
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#a::after, #a::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border: solid;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
 background: conic-gradient(from var(--angle), blue, cyan) padding-box,
 conic-gradient(from var(--angle), blue, cyan) border-box;
  animation: 3s rotate linear infinite;
  border-radius:50px ;
  z-index: -1;
  
  
}


#a::before{
  filter: blur(1.5rem)

}

@keyframes rotate{

from{
  --angle:0deg;
}
to{
  --angle:360deg;
}
}

*{
  font-weight: 900;
  
}

h4{
  font-size: larger;
}
 
