body{
  display: flex;
  justify-content: center
  ;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

  color: white;
  
}

div{
  border: solid white;
  border-radius: 25px;
  padding: 15px;
  align-items: center;
  
}


a, h4{
  text-decoration: none;
  color: white;
 

}

a{
  font-weight: 600;
  font-size: medium;
  margin-left: auto;
 margin-right: auto;

 font: large;


}

 .main{

padding: 15px;


 }

  #xp, #Projects, #Contact{
font-weight: 700;
font-size:larger;
width: max-content;
margin-left: auto;
margin-right: auto;
font-family: "audiowide";




  }

  img{
    border-radius: 50px;

  }

  h1{
    font-family: "audiowide";
    font-size: 50px;
  }


  .a{
    display: grid;
    align-items: center;
 

background: linear-gradient(66deg, rgba(2, 0, 36, 1) 20%, rgba(0, 0, 0, 1) 22%, rgba(0, 212, 255, 1) 62%);

width: max-content;
margin-left: auto;
margin-right: auto;


    
  }


 


