body{
  display: flex;
  justify-content: center
  ;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, green 30%, blue);
  color:white;
  
}

div{
  border: solid white;
  border-radius: 25px;
  padding: 15px;
  
}


a, h4{
  text-decoration: none;
  color: white;

}

a{
  font-weight: 600;
  font-size: medium;
}


  


  #xp, #Projects, #Contact{
font-weight: 700;
font-size: large;


  }

  img{
    border-radius: 50px;
    border: white solid;
    

  }

  h1{
    font-family: "imperial script";
    font-size: 50px;
    font-weight: 450;
  }

  @keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  body{
    animation: 3s fadein;
  }


