body{
  display: flex;
  justify-content: center
  ;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, green 30%, blue);
  color:white;
}

div{
  border: solid white;
  border-radius: 25px;
  padding: 15px;
  
}


a, h4{
  text-decoration: none;
  color: white;

}

a{
  font-weight: 600;
  font-size: medium;
}

 .main{

padding: 15px;
justify-content: center;
  }


  #xp, #Projects, #Contacts{
font-weight: 700;
font-size: large;

  }


  img{
    border-radius: 50px;

  }

  h1{
    font-family: "imperial script";
    font-size: 50px;
  }

  @media (max-width: 600px){
body{
  display: flex;
  justify-content: center
  ;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, green 30%, blue);
  color:white;
  padding: 30px;
  width: 85%;
  overflow-x: hidden;
  margin: auto;
  
}
h1{
 
 font-size: 13vh;
 
}

div{

 width:90%;
}

.con{
  padding: 11px;
 
 
}

#tel, #email{
  font-size: calc(1vh + 10px);
}
  }


 
  @media (max-width: 400px){
body{
  display: flex;
  justify-content: center
  ;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, green 30%, blue);
  color:white;
  padding: 30px;
  width: 85%;
  overflow-x: hidden;
  margin: auto;
  
}
h1{
 
 font-size: 13vh;
 
}

div{

 width:90%;
}

.con{
  padding: 11px;
 
 
}

#tel, #email{
  font-size: calc(1vh + 10px);
}
  } 
